body{
    background-color: black;
    color: white;
}
button{
    background-color: black;
    color: white;
    border: red 1px solid;
}
.click-container{
    border: red 1px solid;
    color: white;
    padding: 5%;
}
.buy-container{
    border: red 1px solid;
    color: white;
    padding: 5%;
}
.save-container{
    border: red 1px solid;
    padding: 5%;
    color: white;

}
.outer-container{
    display: flex;
    color: white;

}
#text{
    text-align: center;
    width: 40px;
    color: red;

}
#altar{
    height: 100px;
    width: 100px;
}
#click-container-text{
    border: red 1px solid;
    padding: 5%;
    color: white;

}
#click-container-answer{
    border: red 1px solid;
    padding: 5%;
    color: white;

}
.tabcontent {
    color: white;
    display: none;
    padding: 50px 2px;
    height: 100%;
}
.white{
    color: white;
}